@{
    ViewData["Title"] = "Send Email Page";
}

<div class="text-center">
    <h1 class="display-4">Wyślij testowy email</h1>

    <form asp-action="SendEmailForm" method="post">
        <button type="submit" class="btn btn-primary mt-3">Wyślij email</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info mt-3">
            @ViewBag.Message
        </div>
    }
</div>
