@{
    ViewData["Title"] = "Zapisz Event";
}

<h2>Zapisz wydarzenie z Ticketmaster</h2>

<form asp-controller="Test" asp-action="SaveEventJsonToDb" method="post">
    <button type="submit" class="btn btn-primary">Pobierz i Zapisz Event</button>
</form>

<form asp-controller="Test" asp-action="CreateCheckoutSession" method="post">
    <button type="submit" class="btn btn-primary">platnosc</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3">
        @ViewBag.Message
    </div>
}
