@model IEnumerable<dynamic>

<h1>Witaj, jesteś zalogowany!</h1>

<ul>
    @foreach (var claim in Model)
    {
        <li>@claim.Type: @claim.Value</li>
    }
</ul>

<a asp-controller="User" asp-action="Logout">Wyloguj</a>
