@{
    ViewData["Title"] = "Błąd logowania";
}

<h2 style="color: darkred;">Błąd logowania</h2>

<p>Wystąpił problem podczas logowania za pomocą Google. Spróbuj ponownie później lub skontaktuj się z administratorem.</p>

<a href="@Url.Action("Index", "OAuth")" class="btn btn-primary">Powrót</a>