@model List<WebApplication1.Models.UserEvent>
@{
    ViewData["Title"] = "Moje Eventy";
}

<h2>Moje Eventy</h2>
@if (Model.Count == 0)
{
    <p>Nie masz jeszcze żadnych eventów.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Data</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ue in Model)
            {
                <tr>
                    <td>@ue.Event.NameOfEvent</td>
                    <td>@ue.Event.StartOfEvent.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}
